<section id="matchdays" class="sections sections-body">
  <div class="container">
  	<!-- Formation -->
  	<div class="outsideWrapper">
	    <div class="insideWrapper">
			<!-- Pitch background -->
	        <img src="images/graphics/pitch.png" class="pitchCoverredImage">
	        <!-- Players' position -->
	        <ul>
	        	<li ng-repeat="p in imagePositions">
	        		<canvas class="positionCoveringCanvas" ng-style="{'position': 'absolute',
	        											   			  'left': '{{p[0]}}px',
	        											   			  'top': '{{p[1]}}px',
	        											   			  'background-image': 'url(images/heros/the-citizens.png)'}">
	        		</canvas>
	        	<li>
	        </ul>
	    </div>
	</div>
    
    <div class="action-items pull-right">
      <div class="action-item pull-right">
        View as
        <div class="btn-group">
          <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></a>
          <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a>
        </div>
      </div>
      <div class="action-item pull-right">
        Sort by
        <div class="btn-group">
          <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
          <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a>
        </div>
      </div>
    </div>
    <h2 class="sub-header">Matchdays</h2>
    <div class="row">
      <div class="col-md-3" data-ng-repeat="matchday in matchdays">
        <div class="thumbnail">
          <a href="#"><img data-ng-src="images/teams/man city-500.png" alt="Generic placeholder image" class="img-circle"></a>
          <div class="caption">
            <h3 class="caption-heading"><a href="#" data-ng-bind="matchday.startAt | date:'dd/mm/yyyy HH:mm'"></a></h3>
            <p data-ng-bind="matchday.endAt | date:'dd/mm/yyyy HH:mm'"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
