<section class="sections sections-narrow">
	<div class="headline">
				<uib-carousel interval="myInterval" no-wrap="noWrapSlides">
					<uib-slide ng-repeat="m in featuredMatchups" active="m.active">
						<my-matchup class="col-md-4 thumbnail" matchup="m"></my-matchup>
						<my-matchup class="col-md-4 thumbnail" matchup="m"></my-matchup>
						<my-matchup class="col-md-4 thumbnail" matchup="m"></my-matchup>
					</uib-slide> 
				</uib-carousel>
		</div>
</section>

<!-- 
	<div class="container-full">
		<div class="jumbotron jumbotron-welcome">
		
 -->