
<!-- Dash board highlight content -->
<div class="container section sections-body">
	<!-- Spinner -->
	<div title="Loading" ng-show="!hideSpinner" style="margin-left: 50%;">
		<p>
			<i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
		</p>
	</div>

 <div class="row">
	<div class="col-md-12">
	
 	<!-- TODAY -->
 	<div class="row" ng-if="soonestCountdown > 0">
		<h3>{{ 'common.soonestMatch' | i18n }} 
			<a data-ui-sref="matchRegister({id: soonestMatch.id})" ng-click="saveSelectedMatchup(matchup)">{{soonestMatch.name}}: </a>
			<span class="timer-countdown"><timer end-time="soonestCountdown">
                {{ddays}} {{'common.day' | i18n}}, {{hhours}} {{'common.hour' | i18n}}, {{mminutes}} {{'common.minute' | i18n}}, {{sseconds}} {{'common.second' | i18n}}</timer></span>
		</h3>
	</div>

	<div class="row">
			<!-- Page header -->
			<div class="page-header">
				<h3>
					<span>{{ 'common.noticableMatches' | i18n }}</span>
					<span ng-if="thisWeekCounter > 0 && nextWeekCounter === 0">{{ 'common.thisWeek' | i18n }}</span>
					<span ng-if="thisWeekCounter > 0 && nextWeekCounter > 0">{{ 'common.thisWeek' | i18n }} {{ 'common.and' | i18n }} {{ 'common.nextWeek' | i18n }}</span>
					<span ng-if="thisWeekCounter === 0 && nextWeekCounter > 0">{{ 'common.nextWeek' | i18n }}</span>
				</h3>
			</div>
			<!-- /Page header -->

			<!-- Timeline -->
			<div>

				<!-- Line component -->
				<div class="line text-muted"></div>


				<!-- Panel -->
				<div class="panel panel-primary" ng-repeat="matchday in matchdays">

					<!-- Icon -->
					<!-- 
					<div class="panel-heading thumbnail icon">
						<i class="glyphicon glyphicon-calendar"></i>
					</div> -->
					<!-- /Icon -->

					<!-- Heading -->
					<div class="panel-heading">
						<h2 class="panel-title">{{matchday[0].competition.nameVn}} {{ 'common.matchweek' | i18n }} {{matchday[0].matchday}} - {{matchday[0].startAt | date:dateFormatString}}</h2>
					</div>
					<!-- /Heading -->

					<!-- Body -->
					<div class="panel-body">
						<div class="table">
						  <div class="table-row" ng-class-odd="'table-row-odd'" ng-class-even="'table-row-even'" ng-repeat="matchup in matchday">
						  	<div class="table-cell cell-matchup-left0"><h5 class="caption-heading">{{matchup.startAt | date:'EEE'}} {{matchup.kickoff | date:"hh:mm"}}</h5></div>
						    <div class="table-cell cell-matchup-left"><h4 class="caption-heading"><a data-ui-sref="teamDetails({id: matchup.firstDetail.squad.id})" data-ng-bind="matchup.firstDetail.squad.team.name"></a></h4></div>
						    <div class="table-cell cell-matchup-center" >
						    	<h5>vs</h5>
						    </div>
						    <div class="table-cell cell-matchup-right"><h4 class="caption-heading"><a data-ui-sref="teamDetails({id: matchup.secondDetail.squad.id})" data-ng-bind="matchup.secondDetail.squad.team.name"></a></h4></h4></div>
						    <div class="table-cell cell-matchup-right2">
						    	<h5 class="caption-heading"><a data-ui-sref="matchRegister({id: matchup.id})" ng-click="saveSelectedMatchup(matchup)"><i class="glyphicon glyphicon-chevron-right"></i></a></h5>
						    </div>
						  </div>
						</div>
						<div style="text-align: center">
							<a data-ui-sref="matchdays({day: matchday[0].matchday, giai_dau: matchday[0].competition.id})"
						 			class="btn btn-primary" role="button" 
						 			ng-click="saveSelectedCompetition(matchday[0].competition.name)" >{{ 'common.viewFull' | i18n }}</a></div>
					</div>
					<!-- /Body -->
					
					<!-- Footer -->
					<!-- 
		            <div class="panel-footer">
		                <small>Footer is also supported!</small>
		            </div>
          			<!-- /Footer -->

				</div>
				<!-- /Panel -->
			</div>
			<!-- /Timeline -->
	</div>
	
	</div> <!-- !col-md-12 -->
</div> <!-- End container -->

<!-- 
<div class="container">
		<div class="row">
			<span fb-like></span>
			<!--
                    Use this format for a custom URL
                    <div fb-like="myModel.Url"></div>
                -->
			<!--   <span google-plus></span> -->
			<!--
                    Use this format for a custom URL
                    <div google-plus="myModel.Url"></div>
                
           <span tweet="myModel.Name"></span>-->
                <!--
                    Use this format for a custom URL
                    <div tweet="myModel.Name" tweet-url="myModel.Url"></div>
                -->
                <!-- 
		</div>
</div>
 -->