<div style="width: 350px !important"; height: 400px !important;>
	<div class="col-md-12" style="text-align: center">{{matchup.stadium.name}}</div>
	<div class="col-md-5" style="text-align: center">
		<img alt="{{matchup.firstDetail.squad.team.name}}"
			src="images/teams/{{matchup.firstDetail.squad.team.name | lowercase}}-150.png">
		<span>{{matchup.firstDetail.squad.team.name}}</span>
	</div>
	<div class="col-md-2"
		style="text-align: center; vertical-align: middle;">
		Begin in: <timer  countdown="86400" max-time-unit="'hour'" interval="1000">{{hhours}}:{{mminutes}}:{{sseconds}}</timer>
	</div>
	<div class="col-md-5" style="text-align: center">
		<img alt="{{matchup.secondDetail.squad.team.name}}"
			src="images/teams/{{matchup.secondDetail.squad.team.name | lowercase}}-150.png">
		<span>{{matchup.secondDetail.squad.team.name}}</span>
	</div>
	<div class="col-md-12" style="text-align: center; padding-top: 20px;">{{matchup.startAt}}</div>
</div>