
.jumbotron {
	background-color:#4C3405;
	height:400px;
	margin-bottom:0;
	text-align:center;
	border-bottom:1px solid #e5e5e5;
	position:relative;
	overflow:hidden
}


.colophon {
	background-color:#4C3C1C;
}


.content-body {
	padding: 20px 10px;
}

/*************************************************************
 ***************
 *************** angular-timeline 
 ***************
 *************************************************************/
 .timeline {
    position: relative;
    padding: 21px 0px 10px;
    margin-top: 4px;
    margin-bottom: 30px;
}

.timeline .line {
    position: absolute;
    width: 4px;
    display: block;
    background: currentColor;
    top: 0px;
    bottom: 0px;
    margin-left: 30px;
}

.timeline .separator {
    border-top: 1px solid currentColor;
    padding: 5px;
    padding-left: 40px;
    font-style: italic;
    font-size: .9em;
    margin-left: 30px;
}


.timeline .panel {
    position: relative;
    margin: 10px 0px 21px 70px;
    clear: both;
}

.timeline .panel::before {
    position: absolute;
    display: block;
    top: 8px;
    left: -24px;	
    content: '';
    width: 0px;
    height: 0px;
    border: inherit;
    border-width: 12px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.timeline .panel .panel-heading.icon * { font-size: 20px; vertical-align: middle; line-height: 40px; }
.timeline .panel .panel-heading.icon {
    position: absolute;
    left: -59px;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0px;
    border-radius: 50%;
    text-align: center;
    float: left;
}

.timeline .panel-outline {
    border-color: transparent;
    background: transparent;
    box-shadow: none;
}

.timeline .panel-outline .panel-body {
    padding: 0px 0px;
}

.timeline .panel-outline .panel-heading:not(.icon),
.timeline .panel-outline .panel-footer {
    display: none;
}
 
.timeline-footer { background-color: aliceblue; }

/**
 * Matchup directive wrapper
 */
.matchup-wrapper {
	margin-right: 10px;
	min-width: 150px !important;
	min-height: 150px !important;
	max-width: 150px !important;
	max-height: 150px !important;
	width: 150px !important;
	height: 150px !important;
	
	-webkit-box-shadow: 1px 0px 2px 2px rgba(64,86,92,1);
	-moz-box-shadow: 1px 0px 2px 2px rgba(64,86,92,1);
	box-shadow: 1px 0px 2px 2px rgba(64,86,92,1);
}

.sections-body {
	min-height: 800px !important;
}

.matchup-wrapper {
    opacity: 1;
}
.matchup-wrapper.ng-enter {
    -webkit-transition: 2s;
    transition: 2s;
    opacity: 0;
}
.matchup-wrapper.ng-enter-active {
    opacity: 1;
}

#table {display: table;}
#table .row {display: table-row;}
#table .cell {display: table-cell; padding: 5px 20px;}


.outsideWrapper {
	width: 750px;
	height: 450px;
	margin: 20px 60px;
	border: 1px DarkSeaGreen;
}

.insideWrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

.pitchCoverredImage {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

.positionCoveringCanvas {
	width: 60px;
	height: 70px;
}

li {
    opacity: 1;
}
li.ng-enter {
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
}
li.ng-enter-active {
    opacity: 1;
}

/************ TABLES ************/
.table {
	display: table; 
	width: 100%;}
.table-row  {
	display: table-row;
	height: auto !important;
	padding-bottom: 10px !important;}
.table-row-header {
	text-align: right;
	background-color: #D9CDBF;
}
.table-cell {
	display: table-cell;
	vertical-align: middle !important; 
}


.table-row-odd {background-color: #D9CDBF;}
.table-row-even {background-color: #F2EFDF;}


.cell-matchup-left0 {width: 15%; text-align: center !important;}
.cell-matchup-left {width: 17%; text-align: right !important;}
.cell-matchup-right {width: 30%; text-align: left !important;}
.cell-matchup-right2 {width: 10%; text-align: center !important;}
.cell-matchup-center {width: 28%; text-align: center !important;}

.group {display: table-row-group; }

/************ ADS ************/
.ads {
	margin: 10px 0px;
}

.team-card {
	width: 200px;
	height: 250px;
	padding: 10px 10px;
}
