 
<div class="container section sections-body">
	
<div title="Loading" ng-show="!hideSpinner" style="margin-left: 50%; ">
  <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i></p>
</div>          
 
 <div class="row">
	<div class="col-md-12">
		<div class="row" ng-repeat="standing in standings">
	        <div class="col-xs-12">
	            <div class="box box-info" style="margin-top: 20px;">
	            	<div class="box-header with-border">
	             		<h3 class="box-title">{{ 'common.standings' | i18n }} {{standing[0].squad.competition.name}}</h3>
	           	  	</div><!-- /.box-header -->
	
	            <div class="box-body table-responsive no-padding">
	              <table id="table-standings" class="table table-hover" style=" margin-right: 10px">
	                <tr>
	                  <th>#</th>
	                  <th></th>
	                  <th>{{ 'standing.team' | i18n }}</th>
	                  <th>{{ 'standing.point' | i18n }}</th>
	                  <th>{{ 'standing.played' | i18n }}</th>
	                  <th>{{ 'standing.won' | i18n }}</th>
	                  <th>{{ 'standing.drawn' | i18n }}</th>
	                  <th>{{ 'standing.lost' | i18n }}</th>
	                  <th>{{ 'standing.goalScored' | i18n }}</th>
	                  <th>{{ 'standing.goalAgainst' | i18n }}</th>
	                  <th>{{ 'standing.goalDiff' | i18n }}</th>
	                </tr>
	                <tr title="Click de xem thong tin doi bong" ng-repeat="p in standing  | orderBy:'currentPosition'" ng-click="goTeamDetail(p.squad.id)">
	                	<td>{{p.currentPosition}}</td>
	                	<td><img data-ng-src="images/teams/{{p.squad.competition.name}}/32x32/{{p.squad.logo}}" class="img-circle img-responsive" style="width:32px;height:32px;"></td>
	                	<td>{{p.squad.team.name}}</td>
	                	<td><b>{{p.point}}</b></td>
	                	<td>{{p.played}}</td>
	                	<td>{{p.won}}</td>
	                	<td>{{p.drawn}}</td>
	                	<td>{{p.lost}}</td>
	                	<td>{{p.goalsScored}}</td>
	                	<td>{{p.goalsAgainst}}</td>
	                	<td>{{p.goalsScored-p.goalsAgainst}}</td>
	                </tr>
	              </table>
	            </div><!-- /.box-body -->
	            </div><!-- /.box-info -->
	            
	            <!-- LINE CHART -->
	          <div class="box box-info" data-ng-if="drawChart">
	          	
	            <div class="box-header with-border">
	              <h3 class="box-title">{{ 'standing.standingChange' | i18n }}</h3>
	            </div>
	            <div class="box-body">
	            	<!--<div class="progress progress-sm active">-->
	              		<!--<div class="progress-bar progress-bar-success progress-bar-striped"-->
	                		<!--role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"-->
	                	 	<!--style="width: 60%">-->
	                      <!--<span class="sr-only">60% Complete</span>-->
	              	<!--</div>-->
	             </div>
	              <div class="chart">
                          <h4 class="box-title">{{ 'standing.selectTeam' | i18n }}
                          <select name="multipleselect" id="standingsChartSelect"
                                  ng-options="p.squad.name for p in standing track by p.id"
                                  ng-model="data.singleSelect"
                                  ng-change="update()"
                                  >
                          </select></h4>

                          <canvas id="line" class="chart chart-line" chart-data="chartData"
                                  chart-labels="labels" chart-legend="true" chart-series="series"
                                  chart-options="chartOptions" >
                          </canvas>
                  </div>
	            </div><!-- /.box-body -->
	          </div><!-- /.box -->
	            
	          </div><!-- /.box -->
	        </div>
		          
	</div> <!-- !col-md-12 -->

</div> <!-- End container -->

    
