<section class="sections sections-body">
	<div class="container">
	  <div class="row">
	    <div class="col-md-8 col-md-offset-2">
	      <div class="text-center">
	        <h3>Standing</h3>
	        <p class="section-desc">Live Standing Now</p>
	      </div>
	    </div>
	  </div>
	  <div ng-if="!standings">No results found</div>
	  <div ng-repeat="standing in standings">
	  	<div class="table">
		  	<div class="table-row">
			  	<div class="table-cell">#</div>
			  	<div class="table-cell">-</div>
			  	<div class="table-cell">Team</div>
			  	<div class="table-cell">Point</div>
			  	<div class="table-cell">P</div>
			  	<div class="table-cell">W</div>
			  	<div class="table-cell">D</div>
			  	<div class="table-cell">L</div> 
		 	</div>
		  	<div class="table-row" ng-repeat="p in standing" ng-class-odd="'table-row-odd'" ng-class-even="'table-row-even'" >
			  	<div class="table-cell">{{p.currentPosition}}</div>
			  	<div class="table-cell">{{(p.previousPosition * 1) - (p.curentPosition * 1)}}</div>
			  	<div class="table-cell">{{p.squad.team.name}}</div>
			  	<div class="table-cell">{{p.point}}</div>
			  	<div class="table-cell">{{p.played}}</div>
			  	<div class="table-cell">{{p.won}}</div>
			  	<div class="table-cell">{{p.drawn}}</div>
			  	<div class="table-cell">{{p.lost}}</div> 
		  	</div>
		</div>
	  </div>
	</div>
</section>