<section id="teams" class="sections sections-body">
  <div class="container">
  	
  	<!-- Spinner -->
  	<div title="Loading" ng-show="!hideSpinner" style="margin-left: 50%; ">
	  <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i></p>
	</div>          


    <!--<div class="action-items pull-right">-->
      <!--<div class="action-item pull-right">-->
        <!--View as-->
        <!--<div class="btn-group">-->
          <!--<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></a>-->
          <!--<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="action-item pull-right">-->
        <!--Sort by-->
        <!--<div class="btn-group">-->
          <!--<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>-->
          <!--<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <h2 class="sub-header">{{ 'common.teams' | i18n }} - {{competitionName}}</h2>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12" data-ng-repeat="team in teams">
        <div class="thumbnail" style="padding: 20px !important">
          <a data-ui-sref="teamDetails({id: team.id})">
              <img class="img-responsive"
                   width="150px" height="150px"
                   data-ng-src="images/teams/{{team.competition.name}}/150x150/{{team.logo}}" alt="{{team.name}}">
              </img></a>
          <div class="caption">
            <h3 class="caption-heading"><a data-ui-sref="teamDetails({id: team.id})">{{team.name}}</a></h3>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
