<section sections sections-body>

  	<!-- Spinner -->
  	<div title="Loading" ng-show="!hideSpinner" style="margin-left: 50%; ">
	  <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i></p>
	</div>          
	 
	<!-- Club Brief Info -->
	<header class="sections sections-narrow sections-light">
	  <div class="container">
	    <div class="media media-welcome">
	      <div class="media-left">
              <div class="row">
                  <div class="col-md-6 col-sm-6">
                      <img data-ng-src="images/teams/{{teamMembers[0].squad.competition.name}}/150x150/{{teamMembers[0].squad.logo}}" class="img-responsive" height="150px">
                      <h1>{{teamMembers[0].squad.fullName}}</h1>
                  </div>
                  <div class="col-md-6 col-sm-6">
                      <ul>
                          <li>{{ 'common.currentSeason' | i18n }}: {{season}}</li>
                          <li>{{ 'common.currentPosition' | i18n }}: {{currentStanding.currentPosition}}</li>
                          <li>{{ 'common.achievement' | i18n }}:</li>

                      </ul>
                      <div class="chart-container-pie">
                          <canvas id="pie" class="chart chart-pie"
                                  chart-data="chartData" chart-labels="labels" chart-legend="true" chart-colours="chartColors">
                          </canvas>
                      </div>
                  </div>
              </div>

	      </div>
	  	</div>
	  </div>
	</header>
	
	<!-- Players -->
    <div id="playersInfo" class="sections sections-no-padding sections-light">
    <div class="container">
    <div class="box box-info">

        <span class="box-body table-responsive no-padding">
            <!-- Managers -->
            <table id="table-manager" class="table table-hover table-player">
                <tr>
                    <th>#</th>
                    <th>{{ 'common.manager' | i18n }}</th>
                </tr>
                <tr ng-repeat="member in teamMembers" ng-if="member.position.name=='Manager'">
                    <td>{{member.shirtNumber}}</td>
                    <td>{{member.hero.name}} JOE MOURINHO</td>
                </tr>
            </table>

            <!-- Goalkeeper -->
            <table id="table-player-gk" class="table table-hover table-player">
                <tr>
                    <th>#</th>
                    <th>{{ 'common.goalkeeper' | i18n }}</th>
                </tr>
                <tr ng-repeat="member in teamMembers" ng-if="member.position.name=='Goalkeeper' && member.heroStatus.name!=='Out on loan'">
                    <td>{{member.shirtNumber}}</td>
                    <td>{{member.hero.name}}</td>
                </tr>
            </table>

            <!-- Defender -->
            <table id="table-player-df" class="table table-hover table-player">
                <tr>
                    <th>#</th>
                    <th>{{ 'common.defender' | i18n }}</th>
                </tr>
                <tr ng-repeat="member in teamMembers" ng-if="member.position.name=='Defender' && member.heroStatus.name!=='Out on loan'">
                    <td>{{member.shirtNumber}}</td>
                    <td>{{member.hero.name}}</td>
                </tr>
            </table>

            <!-- Midfielder -->
            <table id="table-player-mf" class="table table-hover table-player">
                <tr>
                    <th>#</th>
                    <th>{{ 'common.midfielder' | i18n }}</th>
                </tr>
                <tr ng-repeat="member in teamMembers" ng-if="member.position.name=='Midfielder' && member.heroStatus.name!=='Out on loan'">
                    <td>{{member.shirtNumber}}</td>
                    <td>{{member.hero.name}}</td>
                </tr>
            </table>

            <!-- Forward -->
            <table id="table-player-fw" class="table table-hover table-player">
                <tr>
                    <th>#</th>
                    <th>{{ 'common.forward' | i18n }}</th>
                </tr>
                <tr ng-repeat="member in teamMembers" ng-if="member.position.name=='Forward' && member.heroStatus.name!=='Out on loan'">
                    <td>{{member.shirtNumber}}</td>
                    <td>{{member.hero.name}}</td>
                </tr>
            </table>

            <!-- Out on loan -->
            <table id="table-player-ol" class="table table-hover table-player">
                <tr>
                    <th>#</th>
                    <th>{{ 'common.outonloan' | i18n }}</th>
                </tr>
                <tr ng-repeat="member in teamMembers" ng-if="member.heroStatus.name==='Out on loan'">
                    <td>{{member.shirtNumber}}</td>
                    <td>{{member.hero.name}}</td>
                </tr>
            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box-info -->
    </div>

	</section>
</section>

