<section sections sections-body>

  	<!-- Spinner -->
  	<div title="Loading" ng-show="!hideSpinner" style="margin-left: 50%; ">
	  <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i></p>
	</div>          
	 
	<!-- Club Brief Info -->
	<header class="sections sections-narrow sections-light">
	  <div class="container">
	    <div class="media media-welcome">
	      <div class="media-left">
	        <img data-ng-src="images/teams/{{teamMembers[0].squad.competition.name}}/150x150/{{teamMembers[0].squad.logo}}" class="img-circle img-responsive" width="500" height="500">
	        <h1>{{teamMembers[0].squad.fullName}}</h1>
	      </div>
	  	</div>
	  </div>
	</header>
	
	<!-- Players -->
	<section id="playersInfo" class="sections sections-no-padding sections-light">
	<div class="container">
	  <div class="table">
	  	<div class="table-row">
		  	<h1>Manager</h1>
		    <div class="row row-hero" ng-repeat="member in teamMembers track by $index" ng-if="member.heroRole.name=='Manager'">
		    	<div class="col-md-1 col-xs-1">{{member.shirtNumber}}</div>
		    	<div class="col-md-4 col-xs-5">{{member.hero.name}}</div>
		    	<!-- <div class="col-md-4 col-xs-6"><img alt="{{member.hero.firstName + ' ' + member.hero.lastName}}" src="images/heros/default-hero.png"></div>  -->
		    	<div class="col-md-3 col-xs-0">{{member.hero.status.name}}</div>
		    </div>
	    </div>
	    <div class="table-row">
		  	<h1>Goalkeepers</h1>
		    <div class="row row-hero" ng-repeat="member in teamMembers track by $index" ng-if="member.position.name=='Goalkeeper' && member.heroStatus.name!=='Out on loan'">
		    	<div class="col-md-1 col-xs-1">{{member.shirtNumber}}</div>
		    	<div class="col-md-4 col-xs-5">{{member.hero.firstName + ' ' + member.hero.lastName}}</div>
		    	<!-- <div class="col-md-4 col-xs-6"><img alt="{{member.hero.firstName + ' ' + member.hero.lastName}}" src="images/heros/default-hero.png"></div>  -->
		    	<div class="col-md-3 col-xs-0">{{member.hero.status.name}}</div>
		    </div>
	    </div>
	    <div class="table-row">
		    <h1>Defenders</h1>
		    <div class="row row-hero" ng-repeat="member in teamMembers track by $index" ng-if="member.position.name=='Defender' && member.heroStatus.name!=='Out on loan'">
		    	<div class="col-md-1 col-xs-1">{{member.shirtNumber}}</div>
		    	<div class="col-md-4 col-xs-5">{{member.hero.firstName + ' ' + member.hero.lastName}}</div>
		    	<!-- <div class="col-md-4 col-xs-6"><img alt="{{member.hero.firstName + ' ' + member.hero.lastName}}" src="images/heros/default-hero.png"></div>  -->
		    	<div class="col-md-3 col-xs-0">{{member.hero.status.name}}</div>
		    </div>
	    </div>
	    <div class="table-row">
	    <h1>Midfielders</h1>
		    <div class="row row-hero" ng-repeat="member in teamMembers track by $index" ng-if="member.position.name=='Midfielder' && member.heroStatus.name!=='Out on loan'">
		    	<div class="col-md-1 col-xs-1">{{member.shirtNumber}}</div>
		    	<div class="col-md-4 col-xs-5">{{member.hero.firstName + ' ' + member.hero.lastName}}</div>
		    	<!-- <div class="col-md-4 col-xs-6"><img alt="{{member.hero.firstName + ' ' + member.hero.lastName}}" src="images/heros/default-hero.png"></div>  -->
		    	<div class="col-md-3 col-xs-0">{{member.hero.status.name}}</div>
		    </div>
	    </div>
	    <div class="table-row">
		    <h1>Forwards</h1>
		    <div class="row row-hero" ng-repeat="member in teamMembers track by $index" ng-if="member.position.name=='Forward' && member.heroStatus.name!=='Out on loan'">
		    	<div class="col-md-1 col-xs-1">{{member.shirtNumber}}</div>
		    	<div class="col-md-4 col-xs-5">{{member.hero.firstName + ' ' + member.hero.lastName}}</div>
		    	<!-- <div class="col-md-4 col-xs-6"><img alt="{{member.hero.firstName + ' ' + member.hero.lastName}}" src="images/heros/default-hero.png"></div>  -->
		    	<div class="col-md-3 col-xs-0">{{member.hero.status.name}}</div>
		    </div>
	    </div>
	    <div class="table-row">
		    <h1>Out on loan</h1>
		    <div class="row row-hero" ng-repeat="member in teamMembers track by $index" ng-if="member.heroStatus.name==='Out on loan'">
		    	<div class="col-md-1 col-xs-1" ng-if="member.shirtNumber">{{member.shirtNumber}}</div>
		    	<div class="col-md-1 col-xs-1" ng-if="!member.shirtNumber">-</div>
		    	<div class="col-md-4 col-xs-5">{{member.hero.firstName + ' ' + member.hero.lastName}}</div>
		    	<!-- <div class="col-md-4 col-xs-6"><img alt="{{member.hero.firstName + ' ' + member.hero.lastName}}" src="images/heros/default-hero.png"></div>  -->
		    	<div class="col-md-3 col-xs-0">{{member.hero.status.name}}</div>
		    </div>
		</div>
	  </div>
	  </div>
	</section>
</section>

