<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#" data-ng-click="goHome()">
        <img title="BongDaToiNay.com Logo" alt="BongDaToiNay.com Logo" height="27" width="auto" ng-src="images/logo.png">
      </a>
      <button class="navbar-toggle navbar-toggle-left collapsed" type="button" data-toggle="collapse" data-target="#nav-menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="glyphicon glyphicon-align-justify"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="nav-menu" class="navbar-collapse navbar-left collapse">
      <ul class="nav navbar-nav navbar-menu">
        <li data-ng-class="$state.is('dashboard') ? 'active' : ''"><a href="#" data-ng-click="goHome()">{{ 'common.dashboard' | i18n | uppercase }}</a></li>
        <li data-ng-class="$state.is('matchdays') ? 'active' : ''"><a data-ui-sref="matchdays({day:0, giai_dau: selectedCompetition.id})">{{ 'common.matchdays' | i18n | uppercase }}</a></li>
        <li data-ng-class="$state.is('results') ? 'active' : ''"><a data-ui-sref="results({giai_dau: selectedCompetition.id})" >{{ 'common.result' | i18n | uppercase }}</a></li>
        <li data-ng-class="$state.is('standings') ? 'active' : ''"><a data-ui-sref="standings({giai_dau: selectedCompetition.id})">{{ 'common.standings' | i18n | uppercase }}</a></li>
        <li data-ng-class="($state.is('teams') || $state.is('teamDetails')) ? 'active' : ''"><a data-ui-sref="teams({giai_dau: selectedCompetition.id})">{{ 'common.teams' | i18n | uppercase }}</a></li>
        <!--  <li data-ng-class="$state.is('stats') ? 'active' : ''"><a data-ui-sref="stats">{{ 'common.stats' | i18n| uppercase }}</a></li> -->
        <!--  <li data-ng-class="$state.is('stats') ? 'active' : ''"><a href="">{{ 'common.leagues' | i18n | uppercase }}</a></li>-->
        <!-- <li data-ng-class="$state.is('brackets') ? 'active' : ''"><a data-ui-sref="brackets">Brackets</a></li> -->
        <!-- <li data-ng-class="$state.is('stats') ? 'active' : ''"><a href="#">{{ 'common.championLeague' | i18n | uppercase }}</a></li> -->
		<li data-ng-class="selectedCompetition.name === 'English Premier League' ? 'active' : ''"><a href="" ng-click="saveSelectedCompetition('English Premier League');">{{ 'common.epl' | i18n | uppercase }}</a></li>
    	<li data-ng-class="selectedCompetition.name === 'La Liga' ? 'active' : ''"><a href="" ng-click="saveSelectedCompetition('La Liga');">{{ 'common.laliga' | i18n | uppercase }}</a></li>
	    <li data-ng-class="selectedCompetition.name === 'Bundesliga' ? 'active' : ''"><a href="" ng-click="saveSelectedCompetition('Bundesliga')">{{ 'common.bundesliga' | i18n | uppercase }}</a></li>
	    <li data-ng-class="selectedCompetition.name === 'Serie A' ? 'active' : ''"><a href="" ng-click="saveSelectedCompetition('Serie A')">{{ 'common.seria' | i18n | uppercase }}</a></li>
	    <li data-ng-class="selectedCompetition.name === 'Ligue1' ? 'active' : ''"><a href="" ng-click="saveSelectedCompetition('Ligue1')">{{ 'common.ligue1' | i18n | uppercase }}</a></li>
	    
		<li class = "dropdown">
            <a href = "#" class = "dropdown-toggle disabled" aria-expanded="false" aria-haspopup="true" role="button" data-toggle = "dropdown-menu">
               {{ 'common.leagues' | i18n | uppercase }}
               <span class = "caret"></span>
            </a>
            <ul class = "dropdown-menu">
                <li data-ng-class="selectedCompetition.name === 'English Premier League' ? 'active' : ''"><a href="" ng-click="saveSelectedCompetition('English Premier League');">{{ 'common.epl' | i18n | uppercase }}</a></li>
		    	<li data-ng-class="selectedCompetition.name === 'La Liga' ? 'active' : ''"><a href="" ng-click="saveSelectedCompetition('La Liga');">{{ 'common.laliga' | i18n | uppercase }}</a></li>
			    <li data-ng-class="selectedCompetition.name === 'Bundesliga' ? 'active' : ''"><a href="" ng-click="saveSelectedCompetition('Bundesliga')">{{ 'common.bundesliga' | i18n | uppercase }}</a></li>
			    <li data-ng-class="selectedCompetition.name === 'Serie A' ? 'active' : ''"><a href="" ng-click="saveSelectedCompetition('Serie A')">{{ 'common.seria' | i18n | uppercase }}</a></li>
			    <li data-ng-class="selectedCompetition.name === 'Ligue1' ? 'active' : ''"><a href="" ng-click="saveSelectedCompetition('Ligue1')">{{ 'common.ligue1' | i18n | uppercase }}</a></li>
            </ul>
            
         </li>
         
		</ul> 
		
    </div>
    
		       
    
    
    <!-- /.navbar-collapse -->

	<!-- Leagues -->
    <ul class="nav navbar-profile">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle img-profile" data-toggle="dropdown" role="button" aria-expanded="false">
          <img class="img-circle img-circle-small" src="images/avatar.jpg" width="30" height="30">
        </a>
        <ul class="dropdown-menu navbar-dropdown-menu">
          <li><a href="#">View Profile</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Help</a></li>
          <li class="divider"></li>
        </ul>
      </li>
    </ul>
     
     <!-- 
		<div class="dropdown pull-right">
			<button type="button" class="btn btn-default dropdown-toggle"
				data-toggle="dropdown">
				<i ng-class="flagClass"></i> <span>{{ langDisplayText }}</span> <span
					class="caret"></span>
			</button>
			<ul class="dropdown-menu navbar-dropdown-menu">
				<li data-ng-repeat="lang in supportedLang"><a href=""
					ng-click="setLocale(lang)"> <i
						ng-class="localeData[lang].flagClass"></i> <span>{{localeData[lang].langDisplayText
							}}</span>
				</a></li>
			</ul>
		</div>
 		-->
 		
	</div><!-- /.container-fluid -->
</nav>
<script type="text/javascript">$('li[class="dropdown open"]').removeClass('open');</script>