<div class="jumbotron jumbotron-welcome">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Ăn gì hôm nay</h1>
			</div>
		</div>
		<div class="row">
		  <div class="col-md-6"><img alt="An gi hom nay" src="images/vegies/cu-cai-duong.jpg"></div>
		  <div class="col-md-6">
		  	<p>
		  		1. Cung cấp nhiều vitamin
		  			<br/>Củ cải đường chứa rất nhiều vitamin C, vitamin A (đặc biệt là ở lá), vitamin B9, sắt, kali, magiê, axit folic và betaine... Củ cải đường có tác dụng rất tốt cho tim mạch, giảm viêm nhiễm, đặc biệt tại các động mạch như chi, thái dương.
		  		<br/>2. Chống ung thư
		  			<br/>Củ cải đường chứa nhiều chất chống oxy hóa, như beta-carotene và betacyanins. Các nhà khoa học đã chứng minh, các chất chống oxy hóa có thể ngăn chặn khối u phát triển và giám sát sự phát triển của tế bào bất thường. Nó đặc biệt có tác dụng trong việc phòng chống ung thư vú, tuyến tiền liệt, phổi, ruột kết và ung thư thận...
		  	 </p>
		  </div>
		</div>
	</div>
</div>