<!-- Welcome -->
<ng-include src="'components/landing/_banner.html'"></ng-include>

<!-- Headline -->
<ng-include src="'components/landing/_headline.html'"></ng-include>

<!-- Pets -->
<ng-include src="'components/landing/_services.html'"></ng-include>

<!-- Owners -->
<ng-include src="'components/landing/_vets.html'"></ng-include>

<!-- Testimonials -->
<ng-include src="'components/landing/_testimonials.html'"></ng-include>

<!-- Numbers -->
<ng-include src="'components/landing/_numbers.html'"></ng-include>

<!-- Appointment -->
<ng-include src="'components/landing/_appointment.html'"></ng-include>