 
 <div class="row">
    <div ng-repeat="standing in standingsShortlist" class="standings-shortlist">
        <div class="box-body table-responsive no-padding">
		  	<div class="table-row">
                <table class="table table-hover" style="margin-left: 10px">
                    <tr>
                        <th>#</th>
                        <th>{{ standing[0].competition.nameVn }}</th>
                        <th>{{ 'common.point' | i18n }}</th>
                        <th>{{ 'common.played' | i18n }}</th>
                    </tr>
                    <tr>
                        <td>{{p.currentPosition}}</td>
                        <td>{{p.squad.name}}</td>
                        <td><b>{{p.point}}</b></td>
                        <td>{{p.played}}</td>
                    </tr>
                </table>
		 	</div>
		</div>
		<div style="text-align: center">
			<a data-ui-sref="standings({giai_dau: standing[0].competition.id})" class="btn btn-primary" role="button">
				<i class="glyphicon glyphicon-chevron-down"></i>
			</a>
		</div>
    </div>
</div>

